// variables.scss

// Colores
$color-primary: #87c514;
$color-secondary: #7b1111;
$color-dark: #050505;
$color-light: #fff;
$color-background: #090909;
$color-navbar: #343a40;
$color-text: rgb(203, 100, 21);
$color-text-light: #cbccce;
$color-text-dark: #050505;

// Fuentes
$font-family-heading: 'Alfa Slab One', sans-serif;
$font-family-body: 'Roboto', sans-serif;
